!!! 5
%html
  %head
    %title
      =title
    %meta{charset:'UTF-8'}
    %meta{name:'viewport', content:'width=device-width, initial-scale=1.0'}
    %meta{name:'keywords', content:'Corrective and Preventive Actions'}
    %meta{name:'description', content:'Corrective and Preventive Actions (CAPAs) Generator'}
    %link{type:'text/css', href:url('css/main.css'), rel:'stylesheet'}
    %link{rel:'shortcut icon', href:'https://avatars.githubusercontent.com/u/95225052'}
  %body
    = yield
